/*Стилизация проекта -*/
/* index.html - все блоки с user - по 2 в ряд.
кнопки/ссылки находяться под информацией про user.*/
.users {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;

}

.user {
    width: 47%;
    height: 150px;

    text-align: center;

    box-sizing: border-box;

    border: 1px solid cornflowerblue;
    border-radius: 10px;

    padding-top: 15px;
    margin: 10px;
}

.button {
    width: 200px;

    background-color: beige;

    border-color: cornflowerblue;

    padding: 7px;
}

/* user-details.html - блок с информацией про user вверху страницы.
 Кнопка ниже, на 90% ширины страницы, по центру.*/

/* блоки с краткой информацией про post - в ряд по 5 объектов.*/
/* post-details.html - блок с информацией про пост вверху. Комментарии - по 4 в ряд.*/
/* Все без исключения элементы, который характеризируют user,post,comment  визуализировать,*/
/* так, что бы было видно их блоки (дать задний фон + margin. Иными словами - крайне четкая сетка)*/
.userDiv{
    border: 1px solid cornflowerblue;
}